<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Person number: <%= @person.id %></h4>
    <p>First Name: <%= @person.first_name %></p>
    <p>Last Name: <%= @person.last_name %></p>
  </div>
</div>